@{ 
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Calculator</title>
</head>
<body>
    <form action="~/Home/About" method="post">
        <input type="text" name="x" value="" />
        <select  name="d">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" name="y" value="" />
        <input type="submit" value="=" />
    </form>
</body>
</html>